body {
  font: 1em Arial;
}

/*.conteiner {
  display: inline-block;
  background: lightgoldenrodyellow;
  width: 200px;
  height: 100px;
}*/

a {
  background: lightskyblue;
  display: block;
}

.conteiner-inner {
  background: lightpink;
}

.conteiner {
  display: block;
  background: lightgoldenrodyellow;
  height: 100px;
  max-width: 500px;
  min-width: 350px;
}

